#map {
    flex-grow: 1;
    height: 100vh;
    transition: margin-left 0.3s ease;
}

#side-bar {
    width: 5%;
    min-width: 100px;
    background-color: #15153d;
    color: rgba(255, 255, 255, 0);
    transition: width 0.2s ease;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side-bar.active {
    width: 25%;
    min-width: 400px;
    color: white;
}

