#lR-div {
    flex: 1;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lRFormDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-size: 50px;
    margin: 0;
    color: white;
    text-align: center;
}

input {
    margin-top: 10px;
    padding: 5px;
    background-color: white;
    width: 300px;
    height: 25px;
    border-radius: 8px;
    border: 0px;
}

button {
    margin-top: 15px;
    width: 200px;
    padding: 10px;
    background-color: hsl(240, 48%, 33%);
    color: white;
    border: 0px;
    border-radius: 8px;
}

button:hover {
    background-color: #2c2c7d33;
    cursor: pointer;
}

a {
    margin-top: 15px;
    font-size: 15px;
    color: white;
}

a:hover {
    color: rgba(44, 44, 125, 0.8);
}

i {
    z-index: 2;
    position: absolute;
    margin-left: 260px;
    margin-top: 31px;
    /* display: inline-block; */
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: block;
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  
  /* password show icon  hover */
  i:hover{
    scale: 1.0;
    transition: 0.5s ease-in-out;
  }
  .fa{
  
  }


  
  /* urls to images */
  .fa-eye{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.005 15.154q1.524 0 2.586-1.067t1.063-2.591t-1.067-2.587t-2.591-1.063t-2.587 1.067t-1.063 2.592t1.067 2.586t2.592 1.063M12 14.2q-1.125 0-1.912-.787T9.3 11.5t.788-1.912T12 8.8t1.913.788t.787 1.912t-.787 1.913T12 14.2m.003 3.8q-3.25 0-5.922-1.768T2.077 11.5q1.33-2.964 4.001-4.732T11.998 5t5.921 1.768t4.004 4.732q-1.33 2.964-4.001 4.732T12.002 18M12 17q2.825 0 5.188-1.487T20.8 11.5q-1.25-2.525-3.613-4.012T12 6T6.813 7.488T3.2 11.5q1.25 2.525 3.613 4.013T12 17'/%3E%3C/svg%3E");
    
    -webkit-mask-image: background-image;
    mask-image: background-image;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  /* urls to image */
  .fa-eye-slash{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M14.579 8.921q.494.495.822 1.314t.266 1.602q0 .202-.14.339q-.14.138-.342.138t-.34-.138t-.137-.34q.067-.669-.142-1.25q-.21-.58-.635-1.005t-1.025-.64t-1.256-.13q-.202.02-.359-.111t-.176-.333t.109-.358t.33-.176q.796-.1 1.634.218t1.39.87M12 6q-.59 0-1.165.066q-.576.067-1.14.205q-.214.056-.388-.057t-.241-.303q-.068-.207.039-.38t.314-.229q.633-.163 1.278-.233Q11.342 5 12 5q3.021 0 5.58 1.55t3.962 4.216q.1.18.14.354t.041.38t-.037.38t-.138.354q-.47.924-1.122 1.712t-1.434 1.456q-.165.14-.363.12q-.198-.022-.333-.199q-.134-.177-.106-.368q.027-.192.193-.332q.754-.652 1.369-1.433q.615-.78 1.048-1.69q-1.25-2.525-3.613-4.012T12 6m0 12q-2.966 0-5.452-1.562t-3.99-4.128q-.125-.181-.178-.39t-.053-.42t.05-.417t.175-.392q.615-1.039 1.364-1.97q.75-.933 1.734-1.644L3.21 4.631q-.14-.147-.147-.347q-.007-.201.153-.361q.159-.16.353-.16t.354.16l16.154 16.154q.14.14.153.341t-.153.366q-.16.16-.354.16t-.354-.16l-3.538-3.526q-.894.41-1.862.576Q13.002 18 12 18M6.358 7.785q-1.033.707-1.835 1.646q-.802.938-1.323 2.069q1.25 2.525 3.613 4.013T12 17q.789 0 1.562-.11q.773-.111 1.504-.398l-1.632-1.642q-.332.19-.688.247t-.746.057q-1.529 0-2.591-1.063T8.346 11.5q0-.39.067-.746t.237-.688zm4.354 4.354'/%3E%3C/svg%3E");
    
  
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  #icnPassword1 {
    margin-top: 80px;
  }

  #icnPassword2 {
    margin-top: 170px;
  }

  @media (max-width: 430px){
    i {
        z-index: 2;
        position: absolute;
        margin-left: 260px;
        margin-top: 31px;
        /* display: inline-block; */
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
        display: block;
        height: 20px;
        width: 20px;
        background-position: center;
        background-repeat: no-repeat;
        
      }
      
      /* password show icon  hover */
      i:hover{
        scale: 1.0;
        transition: 0.5s ease-in-out;
      }
  }