<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Navigation System Login</title>

    <link rel="stylesheet" href="/StyleSheets/global.css">

</head>
<body>
    <div id="containerDiv1">
        <div id="feedbackContainer">
            <form action="">
                <select name="" id="">
                    <option value="1">Problem</option>
                    <option value="2">Complaint</option>
                    <option value="3">Suggestion</option>
                    <option value="3">Other</option>
                </select>

                <label for="feedbackMessage">Your Message:</label>
                <textarea id="feedbackMessage" rows="5" placeholder="Please describe your feedback..."></textarea>
    
                <button id="submitFeedbackButton">Submit Feedback</button>

            </form>
        </div>
    </div>
</body>
</html>