<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Feedback</title>
  <link rel="icon" type="image/x-icon" href="https://pxlv6-cardiffmetacuk.terminalfour.net/fit-in/200x200/filters:quality(95)/0x0:600x600/prod01/channel_3/media/cardiff-met/site-assets/images/crest-default-image.png">

  <link rel="stylesheet" href="../StyleSheets/feedback.css" />
</head>
<body>
  <div class="feedback-container">
    <div class="header">
      <div class="back-arrow" onclick="window.history.back()">←</div>
      <h1>Feedback</h1>
    </div>

    <form id="feedbackForm">
      <label>Name:</label>
      <input type="text" name="name" required />

      <label>Category:</label>
      <select name="category" required>
        <option>UI/UX</option>
        <option>Bug Report</option>
        <option>Feature Request</option>
        <option>Other</option>
      </select>

      <label>Message:</label>
      <textarea name="message" placeholder="Type Message Here . . ." required></textarea>

      <button type="submit">Submit Feedback</button>
    </form>

    <p id="response"></p>
  </div>
 
  <script type="module" src="../Scripts/feedback.js"></script>
  <div id="toast" class="toast"></div>
</body>
</html>
