<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Navigation System Register</title>
    <link rel="icon" type="image/x-icon" href="https://pxlv6-cardiffmetacuk.terminalfour.net/fit-in/200x200/filters:quality(95)/0x0:600x600/prod01/channel_3/media/cardiff-met/site-assets/images/crest-default-image.png">

    <link rel="stylesheet" href="/StyleSheets/global.css">
    <link rel="stylesheet" href="/StyleSheets/loginRegister.css">
    <link rel="stylesheet" href="/StyleSheets/loadingScreen.css">
    <link rel="stylesheet" href="/StyleSheets/layout.css">

</head>
<body>
    <div id="loadingScreen" style="display: none;">
        <div class="loader"></div>
        <p>Registering... Please wait.</p>
    </div>
    <div id="containerDiv">
        <div id="lR-div">
            <form id="registerForm" method="post">
                <div id="lRFormDiv">
                    <h1>Register</h1>
                    <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
                    <input type="text" id="surname" name="surname" placeholder="Surname" required>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <i class="fa fa-eye togglePassword" id = "icnPassword1"></i>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                    <i class="fa fa-eye togglePassword" id = "icnPassword2"></i>
                    <button type="submit" id="submit" name="submit" >Register</button>
                    <a href="/Views/login.html">Already have an account? Login Here</a>
                </div>
            </form>
        </div>
        <!--Register User Script-->
        <script src="/Scripts/register.js"></script>
</body>
</html>